div.docs, div.design, div.demo, div.about {
	display: none;
}

.person {
	text-align: center;
}
.person img {
	width: 200px;
	height: 200px;
}

li ul {
	padding-left: 2em;
}
li li {
	list-style-type: disc;
}