body {
    height: 100%;
}

.team-name {
    font-size: 18pt;

}

.cover-page, .nav {
    text-align: center;   
}

#content {
    position: fixed;
    height: 100%;
    right: 0;
    
}

.default_text, .alt_text {
    position: relative;
    top: 30%;
}

.nav {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}