body {
    height: 100%;
}

.team-name {
    font-size: 18pt;

}

.cover-page, .nav {
    text-align: center;
    
    
}

.cover-page {
    margin-top: 25%;
    padding-left: 10%;
    padding-right: 10%;
}

.nav {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    height: 100%;
}

li {
    list-style-type: none;
}